<ion-view view-title="Around You">
<ion-header-bar class="bar bar-header bar-royal">
<a class="button icon-left ion-ios-arrow-back button-clear" href="#/home"></a>
      <h1 class="title">StayAt</h1>
    </ion-header-bar>
  <ion-content>
  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input id="mapsearch" type="search" placeholder="Search">
  </label>
  </div>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>

